* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  overflow: hidden;
  background:
    radial-gradient(circle at top left, #b7e0b9 0%, transparent 40%),
    radial-gradient(circle at bottom right, #34c5b4 0%, transparent 45%),
    linear-gradient(135deg, #fefefe 0%, #eaf6f4 100%);
  background-attachment: fixed;
}

#main-container {
  text-align: center;
  width: 350px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px 0px;
}

#main-container h1 {
  font-size: 36px;
  margin-bottom: 15px;
  color: black;
}

#main-container h2 {
  margin-bottom: 15px;
  color: #3d84aa;
}

#category-buttons button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: 1px dashed lightslategrey;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

#category-buttons button:hover,
#category-buttons button:focus {
  background: #34c5b4;
  color: #fff;
  border-color: #34c5b4;
  outline: none;
}

#category-buttons button:active {
  transform: scale(0.98);
}

#credits {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#credits a {
  color: #3d84aa;
  text-decoration: none;
}

#credits a:hover {
  color: #34c5b4;
}

#credits .right {
  font-size: 20px;
}

@media (max-width: 768px) {
  #main-container {
    flex-direction: column;
  }
}
