{% extends "base.html" %} {% block head %} {% endblock %} {% block body %}
<div style="text-align: center" id="category-message">
<h1>Select unit category:</h1>
</div>
<div style="text-align: center" id="main-container">
<div id="category-buttons">
    <div id="temperature-button"><button type="button">TEMPERATURE</button></div>
<div id="length-button"><button type="button">LENGTH</button>
</div>
<div id="weigth-button"><button type="button">WEIGTH</button>
</div>
</div>
</div>
<footer id="credits">
  <span class="left">
    MADE WITH ❤️ BY <a href="https://buymeacoffee.com/ohey">OHEY</a><br />
    PROJECT
    <a href="">GITHUB</a>
  </span>
</footer>
{% endblock %}
