{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
    <div id="main-container">
        <h1>MeasureKit</h1>
        <h2>SELECT UNITS CATEGORY</h2>
        <div id="category-buttons">
            <form method="post" action="/">
                <button name="action" value="temperature" type="submit">TEMPERATURE</button>
                <button name="action" value="length" type="submit">LENGTH</button>
                <button name="action" value="weight" type="submit">WEIGHT</button>
            </form>
        </div>
    </div>
{% endblock %}
