{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
    <div id="main-container">
        <h1>MeasureKit</h1>
        <h2>CONVERT LENGTH</h2>
        <div id="convert-inputs">
            <form method="post" action="/length">
                <input type="number"
                       name="value-to-convert"
                       id="value-to-covert"
                       placeholder="Enter the value to covert">
            </input>
            <select name="unit-select-1" id="unit-select-1">
                <option value="" disabled selected hidden>Unit to convert from</option>
                <option value="milimeter">Milimeter</option>
                <option value="centimeter">Centimeter</option>
                <option value="meter">Meter</option>
                <option value="kilometer">Kilometer</option>
                <option value="inch">Inch</option>
                <option value="foot">Foot</option>
                <option value="yard">Yard</option>
                <option value="mile">Mile</option>
            </select>
            <select name="unit-select-2" id="unit-select-2">
                <option value="" disabled selected hidden>Unit to convert to</option>
                <option value="milimeter">Milimeter</option>
                <option value="centimeter">Centimeter</option>
                <option value="meter">Meter</option>
                <option value="kilometer">Kilometer</option>
                <option value="inch">Inch</option>
                <option value="foot">Foot</option>
                <option value="yard">Yard</option>
                <option value="mile">Mile</option>
            </select>
            <button name="action" value="convert" type="submit">CONVERT</button>
        </form>
        {% if result is not none %}<p>Result: {{ result }}</p>{% endif %}
        <br>
        <a href="{{ url_for("main") }}">Go to Home</a>
    </div>
</div>
{% endblock %}
