{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
    <div id="main-container">
        <h1>MeasureKit</h1>
        <h2>CONVERT TEMPERATURE</h2>
        <div id="convert-inputs">
            <form method="post" action="/temperature">
                <input type="number"
                       name="value-to-covert"
                       id="value-to-covert"
                       placeholder="Enter the value to covert">
            </input>
            <select name="unit-select-1" id="unit-select-1">
                <option value="" disabled selected hidden>Unit to convert from</option>
                <option value="celsius">Celsius</option>
                <option value="fahrenheit">Fahrenheit</option>
                <option value="kelvin">Kelvin</option>
            </select>
            <select name="unit-select-2" id="unit-select-2">
                <option value="" disabled selected hidden>Unit to convert to</option>
                <option value="celsius">Celsius</option>
                <option value="fahrenheit">Fahrenheit</option>
                <option value="kelvin">Kelvin</option>
            </select>
            <button name="action" value="convert" type="submit">CONVERT</button>
        </form>
        <p>
            Result placeholder <span id="result">—</span>
        </p>
        <br>
        <a href="{{ url_for("main") }}">Go to Home</a>
    </div>
</div>
{% endblock %}
