{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
    <div id="main-container">
        <h1>MeasureKit</h1>
        <h2>CONVERT WEIGHT</h2>
        <div id="convert-inputs">
            <form method="post" action="/weight">
                <input type="number"
                       name="value-to-convert"
                       id="value-to-covert"
                       placeholder="Enter the value to covert">
            </input>
            <select name="unit-select-1" id="unit-select-1">
                <option value="" disabled selected hidden>Unit to convert from</option>
                <option value="miligram">Miligram</option>
                <option value="gram">Gram</option>
                <option value="kilogram">Kilogram</option>
                <option value="ounce">Ounce</option>
                <option value="pound">Pound</option>
            </select>
            <select name="unit-select-2" id="unit-select-2">
                <option value="" disabled selected hidden>Unit to convert to</option>
                <option value="miligram">Miligram</option>
                <option value="gram">Gram</option>
                <option value="kilogram">Kilogram</option>
                <option value="ounce">Ounce</option>
                <option value="pound">Pound</option>
            </select>
            <button name="action" value="convert" type="submit">CONVERT</button>
        </form>
        {% if result is not none %}<p>Result: {{ result }}</p>{% endif %}
        <br>
        <a href="{{ url_for("main") }}">Go to Home</a>
    </div>
</div>
{% endblock %}
